*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto auto;
}
.buttons {
    display: flex;
    width: 90vw;
    margin: 0 auto;
}
input {
    display: none;
}
h2 {
    display: none;
}
[class^='slide-image'] {
    display: none;
}
label {
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 15px 20px;
    margin: 0px 10px;
    cursor: pointer;
}
.labels {
    margin-left: auto;
}
label:hover {
    background: #aaa;
}
#slide-1:checked ~ .slide-image-1{
    display: block;
    width: 90vw;
    height: 90vh;
    background-image: url(assets/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat; 
    animation-duration: 3s;
    animation-name: slidein;
}
#slide-1:checked  ~ .buttons .slide-1 {
    background: #aaa;
}
#slide-2:checked  ~ .buttons .slide-2 {
    background: #aaa;
}
#slide-3:checked  ~ .buttons .slide-3 {
    background: #aaa;
}
#slide-4:checked  ~ .buttons .slide-4 {
    background: #aaa;
}
#slide-1:checked  ~ .buttons .description-1 {
    display: block;
    animation-duration: 3s;
    animation-name: slidein;
}
#slide-2:checked  ~ .buttons .description-2 {
    display: block;
    animation-duration: 3s;
    animation-name: slidein;
}
#slide-3:checked  ~ .buttons .description-3 {
    display: block;
    animation-duration: 3s;
    animation-name: slidein;
}
#slide-4:checked  ~ .buttons .description-4 {
    display: block;
    animation-duration: 3s;
    animation-name: slidein;
}
.slide-image-1 {
    width: 90vw;
    height: 90vh;
}
#slide-2:checked ~ .slide-image-2{
    display: block;
    width: 90vw;
    height: 90vh;
    background-image: url(assets/2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;  
    animation-duration: 3s;
    animation-name: slidein;
}
.slide-image-2 {
    width: 90vw;
    height: 90vh;
}
#slide-3:checked ~ .slide-image-3{
    display: block;
    width: 90vw;
    height: 90vh;
    background-image: url(assets/3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    animation-duration: 3s;
    animation-name: slidein;
}
.slide-image-3 {
    width: 90vw;
    height: 90vh;
}
#slide-4:checked ~ .slide-image-4{
    display: block;
    width: 90vw;
    height: 90vh;
    background-image: url(assets/4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    animation-duration: 3s;
    animation-name: slidein;
}
.slide-image-4 {
    width: 90vw;
    height: 90vh;
}
@keyframes slidein {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        transform: scale(1);
        opacity: 1; 
    }
}
@media (max-width: 1280px) { 

}